{% extends 'base.html.twig' %}

{% block title %}Burger #{{ id }}{% endblock %}

{% block content %}
    <h2>Détails du burger</h2>
    <p>Vous avez demandé le burger avec l'ID : <strong>{{ id }}</strong></p>
{% endblock %}
